.button {
    border: none;
    cursor: pointer;
    padding: 20px;
    background: #373737;
    border-radius: 13px;
}

.button-color {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 33.3333px;
    line-height: 42px;
    color: #FFFFFF;
}

