@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    padding: 0 10px;
}

img {
    width: 100%;
}


// -----  Offer  ------ //

.offer {
    height: 928px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 900px) {
        height: 845px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: end;
        align-items: end;
        @media screen and (max-width: 900px) {
            align-items: center;
        }
    }
}


//  -----  section-swiper  -----  //

.section-swiper {
    background: #B6B6B6;
    padding: 120px 0 150px 50px;
    margin-top: -4px;

    @media screen and (max-width: 850px) {
        padding: 100px 0 120px;
    }

}

