.header {
    background-color: cadetblue;

    &__wrap {
        display: flex;
        gap: 30px;
    }

    &__item {
        padding: 20px 0px;
        list-style-type: none;
    }

    &__button {
        background-color: #b2b2b2;
        margin: 10px 0px;
    }
}
