.cart {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.cards-out {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.rick-nav{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}